$primaryColor: #536F86; //applied to layout as its main identity.
$lightShades: #e0e0e0; //applied  as the background for your dark-on-light designs, or the text color of an inverted design
$darkShades: #0D1E33; //applied as the text color for dark-on-light designs, or as the background for inverted designs
$lightAccent: #6BA5B3; //applied  to bring attention to design elements by contrasting with the rest of the palette
$darkAccent: #6C8593;
$gradient: linear-gradient(to right bottom, #6ba5b3, #8fb2c4, #b0bfd0, #cbcfd8, #e0e0e0);
$commonBorderRadius: 5px;//applied