*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html{

  scroll-behavior: smooth;
 /* 
  @include respond(phone) {
    font-size: 60%; 
  }
  @include respond(tab-port) {
    font-size: 70%; 
  }

  @include respond(tab-land) {
    font-size: 85%; 
  }

  @include respond(desktop) {
    font-size: 100%; 
  }
  @include respond(big-desktop) {
    font-size: 120%; 
  }*/
}


body{
  font-family: 'Source Sans Pro',sans-serif;
  letter-spacing: 1.5px;
  cursor: default;
  position: relative;

}


h1{
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 2rem;
  text-align: center;
}
h2{
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

h3{
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

p{
  width: 80%;
  margin-bottom: 5rem;
  color: $primaryColor;
  font-size:1.2rem;
}

a{
  text-decoration: none;
  color: inherit;
}

li{
  list-style: none;
}


input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

.hidden{
  display: none;
 }
 .separator{
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 3rem;
  height: 0.5rem;
  background-image: $gradient;;
  border-radius: $commonBorderRadius;
}

.red{
  color:red;
}